doctype html
html(lang="en")
    head
        include ./included/head
    body
        h2 Error
        h3 The Following ID Is Not Connected To Any User: #{id}
        a(href="./listing") &#8592; Back to Listing