html
    include ./included/head
    body
        h1 Index View

        form
            hr
            div.justifycontent.sideborder
                label.textlabel(for="") Username:
                input.textinput(type="text")

            div.justifycontent.sideborder
                label.textlabel(for="") Name:
                input.textinput(type="text")

            div.justifycontent.sideborder
                label.textlabel(for="") Email:
                input.textinput(type="text")

            div.justifycontent.sideborder
                label.textlabel(for="") Age:
                input.textinput(type="text")

            input(type="submit").submit